In [2]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', skiprows = 1, encoding = 'EUC-KR')
df1 = df1.rename(columns = {
    '구분' : '자치구',
    '총계' : 'CCTV댓수'
})

df1.drop(index = 0, inplace = True)
df1

,자치구,CCTV댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
5,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32
6,동대문구,"2,497","1,090",146,60,29,111,233,136,197,209,223,63
7,중랑구,"3,296",302,24,253,88,141,161,162,173,1049,939,4
8,성북구,"3,958",83,78,170,230,323,594,460,867,714,251,188
9,강북구,"2,462",0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,"1,629",39,22,96,181,79,159,134,222,198,168,331
11,노원구,"2,415",0,97,193,77,516,331,175,216,320,386,104
12,은평구,"3,791",14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,"2,940",730,253,155,108,137,223,356,237,343,397,1
14,마포구,"2,421",58,93,77,61,162,454,359,343,494,300,20
15,양천구,"3,312","1,413",167,181,143,180,350,139,140,274,325,0
16,강서구,"2,560",55,129,106,213,188,168,506,259,457,356,123
17,구로구,"4,075",852,216,349,187,268,326,540,488,434,415,0
18,금천구,"2,374",0,0,178,80,361,133,196,540,369,508,9
19,영등포구,"3,778",572,136,238,123,209,248,311,658,65,"1,213",5
20,동작구,"2,297",41,24,25,503,128,253,271,300,322,419,11
21,관악구,"4,942",428,205,291,513,529,621,687,663,640,331,34
22,서초구,"3,704",116,75,94,71,563,516,1060,428,358,420,3
23,강남구,"6,502",124,77,75,597,840,1310,999,748,789,942,1
24,송파구,"2,854",72,61,86,85,215,148,241,542,1068,235,101
25,강동구,"2,547",332,27,163,49,154,202,273,377,356,614,0

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       25 non-null     object
 1   CCTV댓수    25 non-null     object
 2   2012년 이전  25 non-null     object
 3   2012년     25 non-null     object
 4   2013년     25 non-null     object
 5   2014년     25 non-null     object
 6   2015년     25 non-null     object
 7   2016년     25 non-null     object
 8   2017년     25 non-null     object
 9   2018년     25 non-null     object
 10  2019년     25 non-null     object
 11  2020년     25 non-null     object
 12  2021년     25 non-null     object
dtypes: object(13)
memory usage: 2.7+ KB

In [6]:
for column in df1.columns[1:]:
    df1[column] = df1[column].apply(lambda x : int(x.replace(',','')))

df1

,자치구,CCTV댓수,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
5,광진구,2588,35,57,100,187,98,52,675,465,712,175,32
6,동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63
7,중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4
8,성북구,3958,83,78,170,230,323,594,460,867,714,251,188
9,강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
10,도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
11,노원구,2415,0,97,193,77,516,331,175,216,320,386,104
12,은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
13,서대문구,2940,730,253,155,108,137,223,356,237,343,397,1
14,마포구,2421,58,93,77,61,162,454,359,343,494,300,20
15,양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
16,강서구,2560,55,129,106,213,188,168,506,259,457,356,123
17,구로구,4075,852,216,349,187,268,326,540,488,434,415,0
18,금천구,2374,0,0,178,80,361,133,196,540,369,508,9
19,영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
20,동작구,2297,41,24,25,503,128,253,271,300,322,419,11
21,관악구,4942,428,205,291,513,529,621,687,663,640,331,34
22,서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
23,강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
24,송파구,2854,72,61,86,85,215,148,241,542,1068,235,101
25,강동구,2547,332,27,163,49,154,202,273,377,356,614,0

In [7]:
df1.drop(['17년도까지 합계', '18~20년 합계'], axis = 1, inplace = True)
df1

KeyError: "['17년도까지 합계' '18~20년 합계'] not found in axis"

In [62]:
df1['17년도까지 합계'] = df1['2012년 이전'] + df1['2012년'] + df1['2013년'] + df1['2014년'] + df1['2015년'] + df1['2016년'] + df1['2017년']
df1['18~20년 합계'] = df1['2018년'] + df1['2019년'] + df1['2020년']
df1.drop(['2012년 이전', '2012년', '2013년', '2014년', '2015년', '2016년', '2017년', '2018년', '2019년', '2020년', '2021년'], axis = 1, inplace = True)
df1

     자치구  cctv 대수  17년도까지 합계  18~20년 합계
1    종로구     1772       1435        294
2    중 구     2333       1142        902
3    용산구     2383       1334       1049
4    성동구     3602       2413       1113
5    광진구     2588       1204       1352
6   동대문구     2497       1805        629
7    중랑구     3296       1131       2161
8    성북구     3958       1938       1832
9    강북구     2462        443       1980
10   도봉구     1629        710        588
11   노원구     2415       1389        922
12   은평구     3791       1680       1980
13  서대문구     2940       1962        977
14   마포구     2421       1264       1137
15   양천구     3312       2573        739
16   강서구     2560       1365       1072
17   구로구     4075       2738       1337
18   금천구     2374        948       1417
19  영등포구     3778       1837       1936
20   동작구     2297       1245       1041
21   관악구     4942       3274       1634
22   서초구     3704       2495       1206
23   강남구     6502       4022       2479
24   송파구     2854        908       1845
25   강동구     2547       1200       1347

In [65]:
df1['최근증가율'] = df1['18~20년 합계'] / df1['17년도까지 합계']
df1.drop(['17년도까지 합계', '18~20년 합계', '평균증가율'], axis = 1, inplace = True)
df1

     자치구  cctv 대수     최근증가율
1    종로구     1772  0.204878
2    중 구     2333  0.789842
3    용산구     2383  0.786357
4    성동구     3602  0.461252
5    광진구     2588  1.122924
6   동대문구     2497  0.348476
7    중랑구     3296  1.910698
8    성북구     3958  0.945304
9    강북구     2462  4.469526
10   도봉구     1629  0.828169
11   노원구     2415  0.663787
12   은평구     3791  1.178571
13  서대문구     2940  0.497961
14   마포구     2421  0.899525
15   양천구     3312  0.287213
16   강서구     2560  0.785348
17   구로구     4075  0.488313
18   금천구     2374  1.494726
19  영등포구     3778  1.053892
20   동작구     2297  0.836145
21   관악구     4942  0.499084
22   서초구     3704  0.483367
23   강남구     6502  0.616360
24   송파구     2854  2.031938
25   강동구     2547  1.122500

In [75]:
mask = df1['자치구'] == '중 구'
df1.loc[mask, '자치구'] = '중구'
df1

     자치구  cctv 대수     최근증가율
1    종로구     1772  0.204878
2     중구     2333  0.789842
3    용산구     2383  0.786357
4    성동구     3602  0.461252
5    광진구     2588  1.122924
6   동대문구     2497  0.348476
7    중랑구     3296  1.910698
8    성북구     3958  0.945304
9    강북구     2462  4.469526
10   도봉구     1629  0.828169
11   노원구     2415  0.663787
12   은평구     3791  1.178571
13  서대문구     2940  0.497961
14   마포구     2421  0.899525
15   양천구     3312  0.287213
16   강서구     2560  0.785348
17   구로구     4075  0.488313
18   금천구     2374  1.494726
19  영등포구     3778  1.053892
20   동작구     2297  0.836145
21   관악구     4942  0.499084
22   서초구     3704  0.483367
23   강남구     6502  0.616360
24   송파구     2854  2.031938
25   강동구     2547  1.122500

In [40]:
df2 = pd.read_csv('서울시주민등록인구(구별)통계.txt', skiprows = 2, sep = '\t', encoding = 'utf-8')
df2.columns = ['기간', '자치구', '세대', '인구수','남자인구수','여자인구수', '내국인수', '내국인남자수','내국인여자수','외국인수','외국인남자수','외국인여자수','세대당인구', '고령자수']
df22 = df2.drop(['기간','세대','남자인구수','여자인구수', '내국인수', '내국인남자수','내국인여자수','외국인남자수','외국인여자수','세대당인구'], axis = 1)
df22.drop(index = 0, inplace = True)
df22

     자치구      인구수    외국인수    고령자수
1    종로구  155,106   9,077  27,605
2     중구  132,259   9,243  23,980
3    용산구  240,665  14,287  38,884
4    성동구  295,767   6,605  45,591
5    광진구  355,306  12,825  50,815
6   동대문구  352,259  14,219  61,262
7    중랑구  394,679   4,707  70,172
8    성북구  443,206   9,548  73,568
9    강북구  306,093   3,448  63,383
10   도봉구  322,419   2,054  62,894
11   노원구  520,005   4,008  86,697
12   은평구  479,409   4,038  85,921
13  서대문구  317,699  10,629  53,627
14   마포구  379,984   9,852  53,891
15   양천구  454,288   3,296  66,942
16   강서구  582,995   5,476  90,404
17   구로구  424,582  25,316  71,186
18   금천구  244,685  14,517  40,181
19  영등포구  402,375  24,954  61,571
20   동작구  397,231   9,384  65,732
21   관악구  502,698  13,898  78,647
22   서초구  422,174   3,767  60,395
23   강남구  536,107   4,732  76,184
24   송파구  664,341   5,671  95,164
25   강동구  469,094   3,885  72,275

In [67]:
for column in df22.columns[1:]:
    df22[column] = df22[column].apply(lambda x : int(x.replace(',','')))

df22

     자치구     인구수   외국인수   고령자수
1    종로구  155106   9077  27605
2     중구  132259   9243  23980
3    용산구  240665  14287  38884
4    성동구  295767   6605  45591
5    광진구  355306  12825  50815
6   동대문구  352259  14219  61262
7    중랑구  394679   4707  70172
8    성북구  443206   9548  73568
9    강북구  306093   3448  63383
10   도봉구  322419   2054  62894
11   노원구  520005   4008  86697
12   은평구  479409   4038  85921
13  서대문구  317699  10629  53627
14   마포구  379984   9852  53891
15   양천구  454288   3296  66942
16   강서구  582995   5476  90404
17   구로구  424582  25316  71186
18   금천구  244685  14517  40181
19  영등포구  402375  24954  61571
20   동작구  397231   9384  65732
21   관악구  502698  13898  78647
22   서초구  422174   3767  60395
23   강남구  536107   4732  76184
24   송파구  664341   5671  95164
25   강동구  469094   3885  72275

In [69]:
df22['외국인비율(%)'] = df22['외국인수'] / df22['인구수'] *100
df22['고령자비율(%)'] = df22['고령자수'] / df22['인구수'] *100
df22

     자치구     인구수   외국인수   고령자수  외국인비율(%)   고령자비율(%)
1    종로구  155106   9077  27605  5.852127  17.797506
2     중구  132259   9243  23980  6.988560  18.131091
3    용산구  240665  14287  38884  5.936468  16.156899
4    성동구  295767   6605  45591  2.233177  15.414499
5    광진구  355306  12825  50815  3.609565  14.301757
6   동대문구  352259  14219  61262  4.036519  17.391181
7    중랑구  394679   4707  70172  1.192615  17.779512
8    성북구  443206   9548  73568  2.154303  16.599053
9    강북구  306093   3448  63383  1.126455  20.707105
10   도봉구  322419   2054  62894  0.637059  19.506915
11   노원구  520005   4008  86697  0.770762  16.672340
12   은평구  479409   4038  85921  0.842287  17.922275
13  서대문구  317699  10629  53627  3.345620  16.879814
14   마포구  379984   9852  53891  2.592741  14.182439
15   양천구  454288   3296  66942  0.725531  14.735586
16   강서구  582995   5476  90404  0.939288  15.506823
17   구로구  424582  25316  71186  5.962570  16.766137
18   금천구  244685  14517  40181  5.932934  16.421522
19  영등포구  402375  24954  61571  6.201678  15.301895
20   동작구  397231   9384  65732  2.362353  16.547550
21   관악구  502698  13898  78647  2.764682  15.644980
22   서초구  422174   3767  60395  0.892286  14.305713
23   강남구  536107   4732  76184  0.882660  14.210596
24   송파구  664341   5671  95164  0.853628  14.324571
25   강동구  469094   3885  72275  0.828192  15.407360

In [79]:
df3 = df1.set_index('자치구')
df4 = df22.set_index('자치구')
df5 = df3.join(df4)
df5.reset_index(inplace=True)

df5 = df5.rename(columns = {
    '자치구' : '구별',
})

      구별  cctv 대수     최근증가율     인구수   외국인수   고령자수  외국인비율(%)   고령자비율(%)
0    종로구     1772  0.204878  155106   9077  27605  5.852127  17.797506
1     중구     2333  0.789842  132259   9243  23980  6.988560  18.131091
2    용산구     2383  0.786357  240665  14287  38884  5.936468  16.156899
3    성동구     3602  0.461252  295767   6605  45591  2.233177  15.414499
4    광진구     2588  1.122924  355306  12825  50815  3.609565  14.301757
5   동대문구     2497  0.348476  352259  14219  61262  4.036519  17.391181
6    중랑구     3296  1.910698  394679   4707  70172  1.192615  17.779512
7    성북구     3958  0.945304  443206   9548  73568  2.154303  16.599053
8    강북구     2462  4.469526  306093   3448  63383  1.126455  20.707105
9    도봉구     1629  0.828169  322419   2054  62894  0.637059  19.506915
10   노원구     2415  0.663787  520005   4008  86697  0.770762  16.672340
11   은평구     3791  1.178571  479409   4038  85921  0.842287  17.922275
12  서대문구     2940  0.497961  317699  10629  53627  3.345620  16.879814
13   마포구     2421  0.899525  379984   9852  53891  2.592741  14.182439
14   양천구     3312  0.287213  454288   3296  66942  0.725531  14.735586
15   강서구     2560  0.785348  582995   5476  90404  0.939288  15.506823
16   구로구     4075  0.488313  424582  25316  71186  5.962570  16.766137
17   금천구     2374  1.494726  244685  14517  40181  5.932934  16.421522
18  영등포구     3778  1.053892  402375  24954  61571  6.201678  15.301895
19   동작구     2297  0.836145  397231   9384  65732  2.362353  16.547550
20   관악구     4942  0.499084  502698  13898  78647  2.764682  15.644980
21   서초구     3704  0.483367  422174   3767  60395  0.892286  14.305713
22   강남구     6502  0.616360  536107   4732  76184  0.882660  14.210596
23   송파구     2854  2.031938  664341   5671  95164  0.853628  14.324571
24   강동구     2547  1.122500  469094   3885  72275  0.828192  15.407360

In [81]:
df5.set_index('구별', inplace = True)
df5

      cctv 대수     최근증가율     인구수   외국인수   고령자수  외국인비율(%)   고령자비율(%)
구별
종로구      1772  0.204878  155106   9077  27605  5.852127  17.797506
중구       2333  0.789842  132259   9243  23980  6.988560  18.131091
용산구      2383  0.786357  240665  14287  38884  5.936468  16.156899
성동구      3602  0.461252  295767   6605  45591  2.233177  15.414499
광진구      2588  1.122924  355306  12825  50815  3.609565  14.301757
동대문구     2497  0.348476  352259  14219  61262  4.036519  17.391181
중랑구      3296  1.910698  394679   4707  70172  1.192615  17.779512
성북구      3958  0.945304  443206   9548  73568  2.154303  16.599053
강북구      2462  4.469526  306093   3448  63383  1.126455  20.707105
도봉구      1629  0.828169  322419   2054  62894  0.637059  19.506915
노원구      2415  0.663787  520005   4008  86697  0.770762  16.672340
은평구      3791  1.178571  479409   4038  85921  0.842287  17.922275
서대문구     2940  0.497961  317699  10629  53627  3.345620  16.879814
마포구      2421  0.899525  379984   9852  53891  2.592741  14.182439
양천구      3312  0.287213  454288   3296  66942  0.725531  14.735586
강서구      2560  0.785348  582995   5476  90404  0.939288  15.506823
구로구      4075  0.488313  424582  25316  71186  5.962570  16.766137
금천구      2374  1.494726  244685  14517  40181  5.932934  16.421522
영등포구     3778  1.053892  402375  24954  61571  6.201678  15.301895
동작구      2297  0.836145  397231   9384  65732  2.362353  16.547550
관악구      4942  0.499084  502698  13898  78647  2.764682  15.644980
서초구      3704  0.483367  422174   3767  60395  0.892286  14.305713
강남구      6502  0.616360  536107   4732  76184  0.882660  14.210596
송파구      2854  2.031938  664341   5671  95164  0.853628  14.324571
강동구      2547  1.122500  469094   3885  72275  0.828192  15.407360

# 선생님 해설

### 1. cctv데이터

In [8]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', skiprows = 1, encoding = 'EUC-KR')
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289

In [9]:
# Null data가 있는지 확인
cctv.isna().sum().sum()

0

In [10]:
# 1000단위 구분기호 없애기
for column in cctv.columns[1:]:
    cctv[column] = cctv[column].apply(lambda x : int(x.replace(",", "")))
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [11]:
# 최근 증가율
# 참고로 컬럼 새로 추가할 때는 cctv['컬럼명']의 형태로 써줘야 한다.

cctv['최근 3개년'] = cctv['2018년'] + cctv['2019년'] + cctv['2020년']
cctv['2017년 이전'] = cctv['총계'] - cctv['최근 3개년'] - cctv['2021년']
cctv['최근증가율'] = round(cctv['최근 3개년'] / cctv['2017년 이전'] * 100, 2)
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근 3개년,2017년 이전,최근증가율
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,32969,42455,77.66
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,294,1435,20.49
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,902,1142,78.98

In [12]:
cctv['최근증가율2'] = round(cctv.iloc[:, 9:12].sum(axis = 1) / cctv.iloc[:, 2:9].sum(axis = 1)*100, 2)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근 3개년,2017년 이전,최근증가율,최근증가율2
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,32969,42455,77.66,77.66
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,294,1435,20.49,20.49
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,902,1142,78.98,78.98
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,1049,1334,78.64,78.64
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76,1113,2413,46.13,46.13

In [13]:
# Selection - 필요한 컬럼 추출
cctv = cctv[['구분', '총계', '최근증가율']]
cctv.head()

    구분     총계  최근증가율
0    계  77032  77.66
1  종로구   1772  20.49
2  중 구   2333  78.98
3  용산구   2383  78.64
4  성동구   3602  46.13

In [14]:
# 컬럼명 변경
cctv.rename(columns = {'구분' : '구별',
                       '총계' : 'CCTV댓수'}, inplace=True)
cctv.head()

    구별  CCTV댓수  최근증가율
0    계   77032  77.66
1  종로구    1772  20.49
2  중 구    2333  78.98
3  용산구    2383  78.64
4  성동구    3602  46.13

In [15]:
# 첫번째 행(계) 삭제
cctv.drop([0], inplace = True)

In [16]:
# 참고사항
print(1,2,3,4,5,6,7,8,9, sep = ', ')

# 1,2,3,4,5,6,7,8,9는 positional argument
# sep = ', '는 keyword argument
# positional argument는 keyword argument앞에 나와야 한다

1, 2, 3, 4, 5, 6, 7, 8, 9

In [17]:
def func(name, age, addr):
    print(name, age, addr)

func('마리아', 25, '양평동')

마리아 25 양평동

In [18]:
# 이렇게 써도 된다

func(name = '마리아', age = 25, addr = '양평동')

# 즉, drop(index = [0]으로 쓰나 [0]으로 쓰나 같은 결과가 나온다)

마리아 25 양평동

In [19]:
# overriding
# 부모가 만든 것을 자식이 상속받아서 재정의 하는 것

# from sklearn.base import BaseEstimator

# class MyClassifier(BaseEstimator):
#     def fit(self, x, y):
#         pass

In [20]:
# 구 이름에서 공백지우기
cctv['구별'] = cctv['구별'].str.replace(' ', '')
cctv.head()

    구별  CCTV댓수   최근증가율
1  종로구    1772   20.49
2   중구    2333   78.98
3  용산구    2383   78.64
4  성동구    3602   46.13
5  광진구    2588  112.29

In [21]:
# cctv 댓수가 많은 자치구 top5
cctv.sort_values('CCTV댓수', ascending=False).head()

     구별  CCTV댓수   최근증가율
23  강남구    6502   61.64
21  관악구    4942   49.91
17  구로구    4075   48.83
8   성북구    3958   94.53
12  은평구    3791  117.86

### 2. 인구 데이터

In [22]:
pop = pd.read_csv('서울시주민등록인구(구별)통계.txt', skiprows = 2, sep = '\t', encoding = 'utf-8')
pop.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2021.2/4,합계,"4,405,638","9,795,426","4,756,178","5,039,248","9,565,990","4,649,442","4,916,548","229,436","106,736","122,700",2.17,"1,576,971"
1,2021.2/4,종로구,"73,525","155,106","75,009","80,097","146,029","70,985","75,044","9,077","4,024","5,053",1.99,"27,605"
2,2021.2/4,중구,"62,897","132,259","64,526","67,733","123,016","60,019","62,997","9,243","4,507","4,736",1.96,"23,980"
3,2021.2/4,용산구,"111,650","240,665","116,858","123,807","226,378","108,948","117,430","14,287","7,910","6,377",2.03,"38,884"
4,2021.2/4,성동구,"134,542","295,767","143,927","151,840","289,162","141,042","148,120","6,605","2,885","3,720",2.15,"45,591"

In [23]:
# Null 데이터 확인
pop.isna().sum().sum()

0

In [24]:
# 필요한 컬럼 추출 및 컬럼명 변경
pop = pop[['자치구', '계', '계.2', '65세이상고령자']]
pop.columns = ['구별', '인구수', '외국인', '고령자']
pop.head()

    구별        인구수      외국인        고령자
0   합계  9,795,426  229,436  1,576,971
1  종로구    155,106    9,077     27,605
2   중구    132,259    9,243     23,980
3  용산구    240,665   14,287     38,884
4  성동구    295,767    6,605     45,591

In [25]:
# 1000단위 구분기호 없애기
for column in pop.columns[1:]:
    pop[column] = pop[column].str.replace(',', '').astype(int)

pop.head()

    구별      인구수     외국인      고령자
0   합계  9795426  229436  1576971
1  종로구   155106    9077    27605
2   중구   132259    9243    23980
3  용산구   240665   14287    38884
4  성동구   295767    6605    45591

In [26]:
# 첫번째 행 지우기

pop.drop([0], inplace=True)

In [27]:
# 외국인비율, 고령자비율 컬럼 만들기
pop['외국인비율'] = round(pop['외국인'] / pop['인구수'] *100, 2)
pop['고령자비율'] = round(pop['고령자'] / pop['인구수'] *100, 2)
pop.head()

    구별     인구수    외국인    고령자  외국인비율  고령자비율
1  종로구  155106   9077  27605   5.85  17.80
2   중구  132259   9243  23980   6.99  18.13
3  용산구  240665  14287  38884   5.94  16.16
4  성동구  295767   6605  45591   2.23  15.41
5  광진구  355306  12825  50815   3.61  14.30

### 3. 두 개의 데이터프레임 합치기

In [28]:
df = pd.merge(cctv, pop)
df.head()

    구별  CCTV댓수   최근증가율     인구수    외국인    고령자  외국인비율  고령자비율
0  종로구    1772   20.49  155106   9077  27605   5.85  17.80
1   중구    2333   78.98  132259   9243  23980   6.99  18.13
2  용산구    2383   78.64  240665  14287  38884   5.94  16.16
3  성동구    3602   46.13  295767   6605  45591   2.23  15.41
4  광진구    2588  112.29  355306  12825  50815   3.61  14.30

In [29]:
df.set_index('구별', inplace = True)
df.head()

     CCTV댓수   최근증가율     인구수    외국인    고령자  외국인비율  고령자비율
구별
종로구    1772   20.49  155106   9077  27605   5.85  17.80
중구     2333   78.98  132259   9243  23980   6.99  18.13
용산구    2383   78.64  240665  14287  38884   5.94  16.16
성동구    3602   46.13  295767   6605  45591   2.23  15.41
광진구    2588  112.29  355306  12825  50815   3.61  14.30

In [32]:
df.to_csv('서울시_CCTV_인구_병합데이터.csv')